/**************************************
BODY STYLING
**************************************/

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mukta Mahee', sans-serif;
}

/**************************************
PANEL STYLING - SIGN IN PAGE
**************************************/

.panel {
    margin-top: 100px;
    border: 0px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.panel-body {
    padding-left: 0;
    padding-right: 0;
}

h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.p-type {
    font-size: 1.3em;
}

.divider {
    border: .5px solid #fff;
}

.input-group-addon:first-child {
    background: transparent;
    border: none;
    color: #fff;
    margin-bottom: 5px;
}

#email-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

#pwd-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

.signin-line {
    margin-top: 5px;
    margin-bottom: 18px;
}

.disclaimer {
    font-size: 1.1em;
}

.disclaimer a {
    text-decoration: none;
    font-weight: 600;
    color: #63b660;
}

.disclaimer a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #4c9b48;
}

/**************************************
PANEL STYLING - SEARCH PAGE
**************************************/

.fa-map {
    font-size: 4em;
    margin-bottom: 20px;
}

#city-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#state-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#country-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#activity-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

.search-line {
    margin-top: 5px;
    margin-bottom: -2px;
}