/**************************************
BODY STYLING
**************************************/

body {
    margin: 0;
    padding: 0;
    background: url("../images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Mukta Mahee', sans-serif;
}

/**************************************
PANEL STYLING - SIGN IN PAGE
**************************************/

.panel {
    margin-top: 100px;
    border: 0px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.fa-map-signs {
    font-size: 4em;
    margin-bottom: 20px;
}

.panel-body {
    padding-left: 0;
    padding-right: 0;
}

h4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.divider {
    border: .5px solid #fff;
}

.input-group-addon:first-child {
    background: transparent;
    border: none;
    color: #fff;
    margin-bottom: 5px;
}

#email-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

#pwd-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

.line {
    margin-top: 5px;
    margin-bottom: -2px;
}

/**************************************
PANEL STYLING - SEARCH PAGE
**************************************/

.fa-map {
    font-size: 4em;
    margin-bottom: 20px;
}


#city-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#state-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#country-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

#activity-input {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
}

select option {
    background: #000;
}